CONFIG_ARM=y
CONFIG_ARCH_GLL=y
CONFIG_TARGET_SPACEX_CATSON_UTERM=y
CONFIG_CATSON_EMMC_BOOT=y
CONFIG_FIT=y
CONFIG_FIT_SIGNATURE=y
CONFIG_FIT_VERBOSE=y
CONFIG_CMD_IMLS=n
CONFIG_USB=n
CONFIG_DISPLAY_CPUINFO=n
CONFIG_OF_LIBFDT=y
CONFIG_CMD_RUN=y
CONFIG_CMD_IMI=y
CONFIG_CMD_XIMG=y
CONFIG_CMD_MEMORY=y
CONFIG_CMD_CACHE=y
CONFIG_HUSH_PARSER=y
CONFIG_SYS_ARM_ARCH=8
CONFIG_SYS_CACHE_SHIFT_6=y
CONFIG_SYS_CACHELINE_SIZE=64
CONFIG_ARM64_SUPPORT_AARCH32=y
CONFIG_ARCH_FIXUP_FDT_MEMORY=y
CONFIG_MD5=y
CONFIG_SPACEX_CMD_SXID=y
CONFIG_SPACEX_POR_GPIO=n
CONFIG_OF_SEPARATE=y
CONFIG_DEFAULT_DEVICE_TREE="spacex_dev_catson"
CONFIG_DM=y
CONFIG_CMD_PING=y
CONFIG_SYS_TEXT_BASE=0xBF000000
CONFIG_ENV_IS_NOWHERE=y
CONFIG_ENV_SIZE=0x2000
CONFIG_NR_DRAM_BANKS=1
CONFIG_CMD_BOOTI=y
CONFIG_CMD_LZMA=y
CONFIG_BOOTDELAY=0
CONFIG_PARTITIONS=n
CONFIG_EFI_LOADER=n
CONFIG_BLK=n
CONFIG_MMC_SDHCI=y
CONFIG_STM_SDHCI=y
CONFIG_STM_SDHCI_0=y
CONFIG_SYS_TEXT_BASE=0xBF000000
CONFIG_ENV_IS_NOWHERE=y
CONFIG_ENV_SIZE=0x2000
CONFIG_NR_DRAM_BANKS=1
CONFIG_CMD_BOOTI=y
CONFIG_CMD_LZMA=y
CONFIG_BOOTDELAY=0
CONFIG_PARTITIONS=n
CONFIG_CATSON_EMMC_ENABLED=y
CONFIG_EFI_LOADER=n
CONFIG_TFTP_TIMEOUT=1110
CONFIG_USE_BOOTARGS=y
CONFIG_AUTOBOOT_STOP_STR="falcon"
